.pessoas{
    display: flex;
    text-align: center;
}

.pessoas_container{
    margin: 0 auto;
}

.pesssoas_create{
    padding-top: 4rem;
}

.pesssoas_create_button{
    background-color: var(--back-secondary) !important;
    margin-top: 2rem;
    border: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 10px;
    transition: .5s;
    font-size: 1.2rem;
    opacity: 0.5;
}

.pesssoas_create_button:hover{
    opacity: 1;
}

.pessoas_retorno h2{
    margin-top: 4rem;
    text-align: center;
}

.pessoas_search{
    width: 350px;
    margin: 0 auto;
}

.pessoas_container input{
    border: none;
    outline: none;
    text-align: center;
    width: 100%;
    margin:2rem 0;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--back-secondary);
}

.pessoas_retorno table{
    width: 1000px;
    border: 1px solid var(--back-secondary);
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    margin-bottom: 5rem;
}

.pessoas_retorno table td,
.pessoas_retorno table th{
    text-align: center;
    border: 1px solid var(--back-secondary);
    padding: 0.5rem;
}