.rma{
    display: flex;
    text-align: center;
}

.rma_container{
    margin: 0 auto;
}

.rma_create{
    padding-top: 4rem;
}

.rma_btn_create{
    background-color: var(--back-secondary) !important;
    margin-top: 2rem;
    border: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 10px;
    transition: .5s;
    font-size: 1.2rem;
    opacity: 0.5;
}

.rma_btn_create:hover{
    opacity: 1;
}

.rma_list{
    margin-top: 4rem;
}

.rma_list h2{
    margin-top: 4rem;
    text-align: center;
}

.produtos_search{
    width: 350px;
    margin: 0 auto;
}

.rma_list input{
    border: none;
    outline: none;
    text-align: center;
    width: 100%;
    margin:2rem 0;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--back-secondary);
}

.rma_list table{
    width: 1350px;
    border: 1px solid var(--back-secondary);
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    margin-bottom: 5rem;
}

.rma_listo table td,
.rma_list table th{
    text-align: center;
    border: 1px solid var(--back-secondary);
    padding: .5rem;
}